.titulo-principal{
    border-bottom: 2px solid blue;
}

.titulo{
    border: 2px solid grey;
}

.datos-libro{
    border-top: 4px;
    border-bottom: 4px; 
    border: dotted red;
}

.contenido-libro{
    border: 2px dashed green
}